{% extends 'template.htm' %}
{% block fblike %}
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://nuboat.net" data-send="true"
         data-width="640" data-show-faces="true"></div>
{% endblock %}
{% block body %}
<div>
    <p><h2>Peerapat short bio</h2></p>
    <div style="padding-left: 24px;">
        <pre style="font-size: 16px;">
I'm Engineer
        </pre>
    </div>
    <p><h2>Peerapat Education</h2></p>
    <div style="padding-left: 24px;">
        <pre style="font-size: 16px;">
King Mongkut's Institute of Technology Ladkrabang
Bachelor, Computer Engineer
2001 – 2004
        </pre>
    </div>

    <p><h2>Peerapat Summary</h2></p>
    <div style="padding-left: 24px;">
        <pre>
<b>Professional Experience</b>:
Banking, Electronic money, Payment system, CRM, Marketing Campaign
Cloud Infrastructure and Architecture

<b>Specialties</b>:
Java platform, Python-Django
Mobile Application (Android)
Cloud Computing, Amazon Web Services, Geolocation
Oracle, Postgres, MySQL, Vertica, Hadoop
        </pre>
    </div>
    <p><h2>Peerapat Experience</h2></p>
    <div style="padding-left: 24px;">
        <pre>
Software Engineer @ FICO
Public Company; 1001-5000 employees; FICO; Computer Software industry
February 2012 – Present (7 months) Thailand

Customer Data Integration.
Leverage all of your customer data, both on/offline, to get a 360(degree) view of your customers.

High Performance Analytic Database.
Generate actionable insights, leveraging a columnar DB up to 100X faster than traditional relational databases. Perform sophisticated analytics that were previously too time consuming to undertake.

Customer Dialogue Management Platform.
Drive relevant customer interactions, across e-mail, web, social, mobile, direct mail and call center. Insight’s unique multi-channel campaign management capabilities facilitate highly relevant and timely interactions with your customers across channels. Optimize a two-way dialogue throughout the customer life cycle.<hr />
Software Engineer @ Chalkboard Pte. Ltd.
Privately Held; 11-50 employees; Internet industry
March 2011 – January 2012 (11 months) Singapore

Chalkboard is a mobile and web advertising platform that makes it easy for business owners to communicate your daily specials, promotions and product launches to consumers around your establishment.

I developed 3 majors and design cloud system at Chalkboard
1. Chalkboard API this is the RESTful web services.
We use Python + Django and mod_wsgi for build our location services.

2. Data Analytic on MongoDB
Created MapReduce data script for calculate analytic data.

3. Chalkboard Android Widget
Chalkboard is partner with HTC. We build Chalkboard Widget for preload it to HTC phone.

4. Cloud Infrastructure, Setup and Deploy current system on Amazon Web Services for high performance and high reliability on low price.<hr />
System Analyst & Architecture @ Infinite Computing Systems
Privately Held; 201-500 employees; Information Technology and Services industry
July 2009 – March 2011 (1 year 9 months) Bangkok

Lead team to develop software for capital market business(CMB) of large bank in Thailand.

I have been provided software since Web frontend till backend data integration based on JavaEE and Murex software for support business department.

Such as:
1. Integration data between Murex and another bank system.
2. Web Management for all master data in the system.
3. Batch job end day report for Accounting system and Datawarehouse (OGL, EDW)
4. Handle code on svn, merge, build and deploy on test and live server.<hr />
System Analysis @ COD Co ltd
February 2008 – June 2009 (1 year 5 months)

Develop Processing Banking System(PBS) for large bank in Thailand with Python + Twisted to provide XML-RPC services, this project is core system which will provide services for another system ex. e-cheque.<hr />
Developer @ RingZero
February 2006 – January 2008 (2 years)

1. Store Accounting System of 7-11
Web applcation for handle branch accouting based on JavaEE technology.

2. Smartcard & Payment System
Reduced Time & Increased Stability for purchase with Smartpurse and programed member data into card
Developer
GE Money Thailand
Public Company; 10,001+ employees; GE; Financial Services industry
February 2005 – January 2006 (1 year)

Develop & Support CRM Operational team in GE Money Thailand

I have 3 main task here
1. ETL data between CRM & Sales and Datawarehouse
2. Production support to Telesales & Home Mortgage sales
3. Implemented Morgage salesforces, It's full web services with a lot of features, link data between frontend and backend, mobile version on window mobile for sale, web application workflow for HQ and MIS report for director & head of sale team.<hr />
System Engineer @ iT One
September 2004 – January 2005 (5 months)

Web Application Developer

I have one of large team in itOne.
We have implemented web application workflow for Siam Yamato Steel with .NET technology, This project has responsibility for manage manufacturing steel on SCG plant. and I have created report for CPAC with PL/SQL when i worked at itOne
        </pre>
    </div>
    <p><h2>Contact</h2></p>
    <div style="padding-left: 24px; margin-bottom: 4px;">
        <pre style="font-size: 16px;">
Email: nuboat at gmail.com
Twitter:  <a href="http://twitter.com/nuboat">@nuboat</a>
Facebook: <a href="http://facebook.com/nuboat">nuboat</a>
Linkedin: <a href="http://linkedin.com/in/peerapat">peerapat</a>
        </pre>
    </div>
    <br />
    <div id="fb-root"></div>
    <div class="fb-comments" data-href="http://nuboat.net/me" data-num-posts="64" data-width="640"></div>
</div>
{% endblock %}
