{% extends 'template.htm' %}
{% block body %}
    <div class="row-fluid">
        <div class="span4"><img src="/media/{{blog.topicphoto}}" height="140px"/></div>
        <div class="span8">
            <h1>{{blog.topic}}</h1>
            <span style="color: gainsboro">{{blog.created}}, ยอดวิว {{blog.views}}</span><br />

            <div style="padding-top: 4px;">
            {% for t in blog.tags.split %}
                <span class="label label-info"><a href="#" style="color: white;">{{t}}</a></span>
            {% endfor %}
            </div>
        </div>
    </div>
    <div style="padding-top: 16px; padding-left: 42px;">
        {% autoescape off %}{{blog.content}}{% endautoescape %}
    </div>
    <br /><br />
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://nuboat.net" data-send="true"
         data-width="640" data-show-faces="true"></div>
    <div id="fb-root"></div>
    <div class="fb-comments" data-href="http://nuboat.net/blogid/{{blog.id}}"
         data-num-posts="64" data-width="640"></div>
{% endblock %}
