{% extends 'template.htm' %}
{% block fblike %}
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://nuboat.net" data-send="true"
         data-width="640" data-show-faces="true"></div>
{% endblock %}
{% block body %}
    {% for b in list_blog %}
    <div class="container-fluid" style="padding-bottom: 32px;">
        <div class="row-fluid">
            <div class="span4">
                <img src="/media/{{b.topicphoto}}" height="140px"/>
            </div>
            <div class="span8">
                <h2><a href="/blog/{{b.path}}">{{b.topic}}</h2></a>
                <span style="color: gainsboro">{{b.created}}, ยอดวิว {{b.views}}</span><br />
                {{b.description}}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
