<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NUBOAT IN WONDERLAND</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="nuboat in wonderland">
    <meta name="author" content="Peerapat Asoktummarungsri">
	<link rel="shortcut icon" href="/media/favicon.ico">
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22190174-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body style="background-color: skyblue;">
	<br />
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span3"> <!--Sidebar content-->
				<div class="well sidebar-nav">
					<img src="/media/nuboat.jpg" />
					<br /><br />
					<ul class="nav nav-list">
						<li {% ifequal 'home' page %} class="active" {% endifequal %} ><a href="/">HOME</a></li>
						<li {% ifequal 'me' page %} class="active" {% endifequal %} ><a href="/me">About Me</a></li>
						<li {% ifequal 'instagram' page %} class="active" {% endifequal %} ><a href="#">Instagram</a></li>
						<li {% ifequal 'app' page %} class="active" {% endifequal %} ><a href="#">Application</a></li>
					</ul>
					<br /><br />
					<!-- Place this tag where you want the +1 button to render -->
					<g:plusone annotation="inline" width="320"></g:plusone><br /><br />
				</div><!--/.well -->
			</div><!--/span-->

			<div class="span7"> <!--Body content-->
				<div class="well">
                    <div id="fb-root"></div>
                    <div class="fb-like" data-href="http://nuboat.net/404" data-send="true"
                         data-width="640" data-show-faces="true"></div>
                    <hr />
                    <center><h1>404</h1></center>
                    <br />
                    <div id="fb-root"></div>
                    <div class="fb-comments" data-href="http://nuboat.net/404"
                         data-num-posts="64" data-width="640"></div>
				</div><!--/.well -->
			</div><!--/.span -->

			<div class="span1"></div>
		</div><!--/row-fluid-->
		<hr />
		<footer>
			<p style="text-align:left; padding: 84;">&copy; NUBOAT IN WONDERLAND 2012</p><br />
		</footer>
		<br />
    </div><!--/.fluid-container-->
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=100370610039696";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
    <!-- Le javascript ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
  </body>
</html>
